.carousel-item{
    background-color: purple;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0 , 0);
}

.carousel__container:hover .carousel-item{
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    font-size: 12px;
    transition: 450ms opacity;
    top: 10%;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
}

.carousel-item__details img {
    width: 20px;
    margin: 2px 2px 2px 0px;
}

.carousel-item__details--title {
    margin: 2px 2px;
}

.carousel-item__details--subtitle{
    margin: 0px 2px;
}

.carousel-item__details:hover {
    opacity: 1;
}
